
.soundControls {
  margin: 0rem 2rem;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 20px;
  float: left;
  height: 4rem;
  text-align: left;
  width: 90%;
}

.rt{
  display: inline-block;
}

.sketchCanvas {
  display: none;
}

.audioDropdown {
  display: inline-block;
  width: 25%;
  position: relative;
  top: -8px;
  left: 1rem;
}


.fileControls {

  display: inline-block;
  width: 100%;
}

.songUpload {
  display: inline-block;
  width: 25%;
  border: 1px solid #de1d2a;
  color: #de1d2a;
  border-radius: 14px;
  position: relative;
  top: -7px;
}

#audioElem{
  height: 2.6rem;
  margin: 0.2rem 1rem;
  position: relative;
  top: 6px;
  width: 40%;
}

.video-recorder {
  display: inline-block;
  position: relative;
  top: -7px;
  width: 32%;
}

#recorderButton{
  border-radius: 20px;
  height: 2.7rem;
  width: 100%;
}


.songInput{
  border-radius: 14px;
}



.floating.labeled.dropdown {
  color:black;
  background: white;
  border: solid red 1px;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  width: 7rem;
}

.playButton{
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    background-color: #000000 !important;
    color: #ff0000 !important;
    border-style: solid !important;
    border-color: red !important;
    border-width: 1px !important;
    position: absolute;
    margin: 1.5rem !important;
    top: -1.9rem !important;
}

.startButton {
  float: left;
  height: 3rem;
  color: #de1d2a;
  background-color: #000000;
  border-style: solid;
  border-color: #de1d2a;
  border-width: 1px;
  border-radius: 12px;
  position: relative;
  top: 5px;
}

.audioClickpad {
  position: relative;
}

.playIcon {
    position: relative;
    top: -2px;
    left: -7px;
}

.stopIcon {
  position: relative;
  top: -2px;
  left: -8px;
}

@media (max-width : 320px) {
  .soundControls {display:none;}
}


