.showAudio {
  display: block;
  position: relative;
  top: 80px;
}

.hidden {
	display: none;
}

.volSlider {
	text-align: left;
	margin: 0.5rem auto;
    width: 80%;
}


.bottomBar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  float: left;
  height: 4rem;
  background-color: black;
}

.barButton {
  float: left;
  height: 4rem;
  width: 4rem;
  color: #de1d2a;
  background-color: #000000;
  border-style: solid;
  border-color: #de1d2a;
  border-width: 1px;
}


.options {
  transition: all 0.4s !important;
  font-size: 1.5rem  !important;
}


.menu-on {
  transform: rotate(180deg);
}

.menu-off {
  transform: rotate(0);
}

.active.item {
  border-radius: 0px !important;
}

.loader {
  display: inline-block;
  border: 6px solid #c0c0c0;
  border-top: 6px solid #bb0000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: relative;
  left: 1rem;
  top: 11px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-button{
  display: inline-block;
  height: 3rem;
  width: 11rem;
  border-radius: 3rem;
}

.modal-row{
  text-align: center;
  margin: 2rem;
}
