.showAudio {
  display: block;
  position: relative;
  top: 80px;
}

.hidden {
	display: none;
}

.volSlider {
	text-align: left;
	margin: 0.5rem auto;
    width: 80%;
}


.bottomBar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  float: left;
  height: 4rem;
  background-color: black;
}

.barButton {
  float: left;
  height: 4rem;
  width: 4rem;
  color: #de1d2a;
  background-color: #000000;
  border-style: solid;
  border-color: #de1d2a;
  border-width: 1px;
}


.options {
  transition: all 0.4s !important;
  font-size: 1.5rem  !important;
}

#recorderButton {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  top: 5px;
  /*color: #de1d2a;
  background-color: #000000;
  border-style: solid;
  border-color: #de1d2a;
  border-width: 1px;*/
}





.menu-on {
  transform: rotate(180deg);
}

.menu-off {
  transform: rotate(0);
}

.active.item {
  border-radius: 0px !important;
}
