.aboutMain {
  z-index: -2;
  background-image: url(../../img/background_red_1.jpeg);
  position: absolute;
  height: 100%;
}
.aboutContent {
  color: white;
  margin-top: 20rem;
  position: relative;
}

.mainHeader {
  color: white;
  font-size: 5rem;
  margin: 4rem;
  line-height: 5rem;
}

.mainContent {
  margin: 4rem;
  font-size: 2rem;
  line-height: 35px;
  width: 50%;
}