.title {
    text-align: left;
    color: white !important;
}

.content {
    text-align: left;
}

.objectsAccordian {
    color: white !important;
}

.h3{
    color: white !important;
}

.sceneMenuButton {
  margin: 0.5rem;
  color: black;
  background-color: white;
}

.sceneMenuIcon {
  position: relative;
  left: -5px;
}

.addObjDropdown {
  background-color: grey;
  border-radius: 50px;
  margin: 1.5rem 1rem;
}

.objectControls {
  background: grey;
  border-radius: 5px;
}

.inputField {
  padding: 0.5rem 1rem;
}

.modelUpload {
  display: inline-block;
  width: 70%;
  margin: 0rem 0.5rem;
  border: 1px solid #ffffff;
}

.input {
  margin: 0.5rem;
  width: 3rem;
}

.sceneOptions {
  margin-bottom: 1rem;
}

.objectTitle {
  display: inline-block;
  margin-right: 1rem;
  font-size: 16px;
}
