.navBar {
  background-color: rgba(0, 0, 0, 0.5);;
  border-bottom: 1px solid #88040d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.navItem {
  color: white;
  margin: 0.5rem;
  vertical-align: middle;
  display: inline-block;  
}

.navItemLeft {
  color: white;
  margin: 2rem;
  vertical-align: middle;
  display: inline-block; 
  float: right; 
}

.active.item {
  
}

