.navBar {
  background-color: rgba(0, 0, 0, 0.5);;
  border-bottom: 1px solid #88040d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.navItem {
  color: white;
  margin: 0.5rem;
  vertical-align: middle;
  display: inline-block;  
}

.navItemLeft {
  margin: 2rem;
  vertical-align: middle;
  display: inline-block; 
  float: right; 
}

.link{
  color: '#de1d2a';
}

@media (max-width : 420px) {
  .navItemLeft{
    display: none;
  }
}
