body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: black !important; 
  position:fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
}


@media (max-width : 420px) {
  .aboutPath{
    display: block;
  }
}

@media (min-width : 420px) {
  .aboutPath {
    display:none;
  }
}


.sideMenu {
    /*position: absolute;
    background: white;
    height: 100%;
    color: white;
    float: left;
    */
}
.mainScene {
    /*
    background: white;
    height: 100%;
    color: white;
    float: left;
        */
}

.appScene {
    padding: 0em 0em !important;
    background: black;
}

.appPushable, .ui.bottom.attached.segment.active.tab, .ui.visible.left.sidebar {
    background: rgba(50, 50, 50, 0.5) !important;
}

.appPushable {
    margin: 0em !important;
    background: rgba(50, 50, 50, 0.5) !important;
    border-width: 0px !important;
    border-radius: 0px !important;
}


.sideBar {
    border-radius: 0px !important;
}

.MuiTypography-root {
    color: white;
}

.MuiSlider-rail {
    color: grey;
}

.MuiSlider-track {
    color: green;
}

.MuiSlider-thumb {

    color:white;
}


#p5 {
    width:80%;

}

.newYearText {
  font-size: 70px;
  line-height: 6rem;

  width: 45rem;
  position: relative;
  top: -1rem;
  left: -6.5rem;
  color: #ffdb70;
  text-shadow: 2px 2px 8px #000000;
}

.CountDown {
  position: absolute;
  margin: 0 40%;
  top: 7rem;
}

#happyNewYear-div {
  font-family: sans-serif;
  color: black;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 73px;
  width: 42rem;
  position: relative;
  left: -8.5rem;
}

#happyNewYear-div > div {
  padding: 10px;
  border-radius: 3px;
  background: black;
  display: inline-block;
  position: relative;
  bottom: -29rem;
}

#happyNewYear-div div > span {
  padding: 25px;
  border-radius: 3px;
  background: #ffdb70;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
  color: #ffdb70;
}
